.sliderSection {
	position: absolute;
	top: 550px;
	z-index: 2;
}

.sliderWrapper {
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	min-width: 320px;
	max-width: 100%;
}

.slider {
	position: relative;
}

.sliderItemWrapper {
	position: relative;
	margin: 0;
	padding: 0;
}

.slider-item {
	display: inline-block;
	height: 380px;
	vertical-align: bottom; 
	float: left;
	width: 1715px;
	text-align: center;
}

.slider-img {
	margin: 0 40px;
	position: relative;
	display: inline-block;
	z-index: 2;
}

.box-focus {
	animation-name: box-focus;
	animation-duration: 1000ms;
	position: relative;
}

@keyframes box-focus {
    0% {top: 0px;}
    100% {top: -50px;}
}

.shadow-scale {
	animation-name: shadow-scale;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

@keyframes shadow-scale {
    0% {transform: scale(1);}
    100% {transform: scale(.9);}
}

.shadow-scale-back {
	animation-name: shadow-scale-back;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

@keyframes shadow-scale-back {
    0% {transform: scale(.9);}
    100% {transform: scale(1);}
}

.mess {
	position: absolute;
	top: -140px;
	opacity: 0;
}

.slider_left, .slider_right {
	width: 42px;
	z-index: 2;
	cursor: pointer;
	height: 70px;
	margin-top: 245px;
}

.slider_left {
	background: url(assets/sprite.png) no-repeat 0 -25px;
	position: absolute;
	left: 13%;	
}

.slider_right {
	background: url(assets/sprite.png) no-repeat -50px -25px;
	position: absolute;
	right: 14%;
}
.slider-item div {
	display: inline-block;
	position: relative;
	top: 140px;
}

.slider-item div:nth-child(1) .shadow{
	position: absolute;
	bottom: 3px;
	left: 39px;
}

.slider-item div:nth-child(2) .shadow{
	position: absolute;
	bottom: 5px;
	left: 40px;
}

.slider-item div:nth-child(3) .shadow{
	position: absolute;
	bottom: 5px;
	left: 38px;
}

.slider-item div:nth-child(4) .shadow{
	position: absolute;
	bottom: 4px;
	left: 38px;
}

.slider-item div:nth-child(5) .shadow{
	position: absolute;
	bottom: 4px;
	left: 39px;
}