body, h2, p, ul{
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

a {
	text-decoration: none;
}

header {
	z-index: 9999;
	position: absolute;
	right: 0;
	left: 0;
}

.header-wrapper {
	width: 100%;
	height: 70px;
	position: relative;
}

.top-wrapper {
	height: 70px;
	background: #fff;
	text-transform: uppercase;
}

.top-wrapper > div {
	width: 1140px;
	margin: 0 auto;
	text-align: center;
}

.company-name {
	width: 150px;
	display: inline-block;
	font-family:'Ubuntu';
	margin-top: 10px;
	float: left;
}

.company-name h2 {
	color: #c2d201;
}

.company-name p {
	color: #999997;
	text-transform: none;
	font-size: 14px;
	text-align: right;
}

.top-nav {
	display: inline-block;
	font-family:'Ubuntu-Bold';
	margin-top: 31px;
}

.top-nav li {
	display: inline-block;
	margin: 0 15px;
}

.top-nav a:hover {
	border-bottom: 4px solid #c2d201;
	color: #c2d201;
}

.top-nav a {
	color: #999997;
	line-height: 35px;
	display: block;
}

.top-nav a:hover {
	color: #c2d201;
}

.social {
	display: inline-block;
	float: right;
	margin-top: 35px;
}

.social li {
	display: inline-block;
}

.facebook:before {
	content: '';
	display: inline-block;
	background: url(assets/sprite.png) no-repeat 0 0;
	width: 80px;
	height: 20px;
}

.tweet:before {
	content: '';
	display: inline-block;
	background: url(assets/sprite.png) no-repeat -81px 0;
	width: 86px;
	height: 20px;
}

.google:before {
	content: '';
	display: inline-block;
	background: url(assets/sprite.png) no-repeat -166px 0;
	width: 80px;
	height: 20px;
}

/*--------Контент---------*/

.logo {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 335px;
	height: 219px;
}

.logo img:after {
	content: '';
	display: block;
	width: 147px;
	height: 25px;
	background: url(assets/shadow4.png);
}

.main {
	background: url(assets/background4.png) no-repeat;
	height: 901px;
	text-align: center;
	position: absolute;
	left: -16%;
	width: 134%;

}

.left-main {
	animation-name: left-main;
	animation-duration: 4000ms;
}

@keyframes left-main {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-13deg);}
    100% {transform: rotate(0deg);}
}

.right-main {
	animation-name: right-main;
	animation-duration: 4000ms;
}

@keyframes right-main {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(13deg);}
    100% {transform: rotate(0deg);}
}

.sea {
	background: url(assets/sea2.png) no-repeat;
	height: 477px;
	width: 100%;
	top: 185px;
	position: absolute;
	z-index: -1;
}

.popup-window {/*
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;*/
}

.popup-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #333;
	opacity: .5;
	z-index: 2;
}

.popup-content {
	width: 550px;
	float: right;
	margin-right: 40px;
}

.popup {
	background: url(assets/popup.png) no-repeat;
	width: 751px;
	height: 437px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 2;
}

.popup h2 {
	font-family:'Komika';
	color: #8e367f;
	text-align: center;
	margin-top: 45px;
}

#popupForm li {
	list-style-type: none; 
	margin: 10px 0;
}

.form-input label {
	display: inline-block;
}

.form-input {
	display: inline-block;
	width: 200px;
}

.form-checkbox {
	display: inline-block;
	width: 20px;
}

.form-items label {
	width: 120px;
	display: inline-block;
	color: #4b4b43;
	font-size: 17px;
	font-family:'Ubuntu';
}

.checkbox-label {
	float: right;
	width: 350px !important;
}

.button {
	background: linear-gradient(to top, #abca31, #c1e239);
	font-family:'Komika';
	color: #fff;
	font-size: 17px;
	width: 184px;
	height: 45px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 3px 0 #7a8e1d;
}

.popup-window {
	display: none;
}

.form-wrap {
	float: right;
}

.choose-pack {
	position: relative;
	bottom: -100px;
}

.choose-pack img {
	margin: 0 !important;
	top: -50px !important;
}

.choose-pack, .form-wrap {
	display: inline-block;
}